   MONGODB_URI=your_mongodb_connection_string
   EMAIL_USER=your_gmail_address
   EMAIL_PASSWORD=your_gmail_app_password
   JWT_SECRET=your_jwt_secret_key
   FRONTEND_URL=your_frontend_url
   VITE_GITHUB_CLIENT_ID=your_github_client_id
   VITE_GITHUB_CLIENT_SECRET=your_github_client_secret

   import.meta.env